/* @import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=ZCOOL+KuaiLe&display=swap');
/* .navbar-main {
    background-color: rgba(0, 0, 0, .95);
} */

.business-logo {
    /* font-family: 'ZCOOL KuaiLe', cursive; */
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}